{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in the course information</h4>
    <div class="card-block">
        <form action="/courses" method="post">

            <!-- Course name -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseName">Course Name</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseName" type="text" name="courseName" required="required" placeholder="Calculus">
                </div>
            </div>

            <!-- Department -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseDept">Department</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseDept" type="text" name="courseDept" required="required" placeholder="Mathematics">
                </div>
            </div>

            <!-- Credit value -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="creditValue">Credit Value</label>
                <div class="col-sm-5">
                    <select name="creditValue" class="custom-select" id="creditValue">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>

            <!-- Level -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="level">Level</label>
                <div class="col-sm-5">
                    <select name="level" class="custom-select" id="level">
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                    </select>
                </div>
            </div>

            <!-- Building -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="building">Building</label>
                <div class="col-sm-5">
                    <select name="building" class="custom-select" id="building" required>
                        <option value="Science">Science</option>
                        <option value="Central">Central</option>
                        <option value="King Center">King Center</option>
                        <option value="Plaza">Plaza</option>
                        <option value="Aviation">Aviation</option>
                    </select>
                </div>
            </div>

            <!-- Room -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="room">Room</label>
                <div class="col-sm-5">
                    <input class="form-control" id="room" type="number" name="room" required="required" placeholder="TBD">
                </div>
            </div>

            <!-- Time -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="time">Time</label>
                <div class="col-sm-5">
                    <input class="form-control" id="time" type="time" name="time" required="required" placeholder="TBD">
                </div>
            </div>

            <!-- MinSize -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="minSize">Minimum size</label>
                <div class="col-sm-5">
                    <input class="form-control" id="minSize" type="number" name="minSize" required="required" placeholder="1">
                </div>
            </div>

            <!-- MaxSize -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="maxSize">Maximum size</label>
                <div class="col-sm-5">
                    <input class="form-control" id="maxSize" type="number" name="maxSize" required="required" placeholder="30">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit"  class="btn btn-primary">Submit</button>
                    <a href="/courses" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{>common/footer}}

