{{>common/header}}
<div class="card">
    <h3 class="card-header">Course Information</h3>
    <div class="card-block">
        <p class="card-text">Course ID: {{course.courseId}}</p>
        <p class="card-text">Course Name: {{course.courseName}}</p>
        <p class="card-text">Course Number: {{course.courseNumber}}</p>
        <a href="/courses/{{course.courseId}}/edit" class="btn btn-primary">Edit</a>
        <a href="/courses" class="btn btn-link">Back</a>
    </div>
</div>
{{>common/footer}}