{{>common/header}}
<div class="card">
    <h4 class="card-header">Update Student Information</h4>
    <div class="card-block">
        <h5 class="card-title"></h5>
        <form action="/courses/{{course.courseId}}" method="post">

            <!-- Course name -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseName">Course Name</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseName" type="text" name="courseName" value="{{course.courseName}}" required="required" placeholder="">
                </div>
            </div>

            <!-- Department -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="department">Department</label>
                <div class="col-sm-5">
                    <input class="form-control" id="department" type="text" name="department" value="{{course.courseDept}}" required="required" placeholder="">
                   </div>
            </div>

            <!-- Course ID -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseID">CourseID</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseID" type="text" name="courseID" value="{{course.courseId}}" required="required" placeholder="1337">
                </div>
            </div>

            <!-- Credit value -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="creditValue">Credit Value</label>
                <div class="col-sm-5">
                    <input class="form-control" id="creditValue" type="text" name="creditValue" value="{{course.creditValue}}" required="required" placeholder="4">
                </div>
            </div>

            <!-- Professor -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="instructor">Instructor</label>
                <div class="col-sm-5">
                    <input class="form-control" id="instructor" type="text" name="instructor" required="required" placeholder="Stack Overflow">
                </div>
            </div>

            <!-- Level -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="level">Level</label>
                <div class="col-sm-5">
                    <input class="form-control" id="level" type="text" name="level" required="required" placeholder="Freshmen">
                </div>
            </div>

            <!-- Building -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="building">Building</label>
                <div class="col-sm-5">
                    <input class="form-control" id="building" type="text" name="building" value="{{course.building}}" required="required" placeholder="Parking Lot">
                </div>
            </div>

            <!-- Room -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="room">Room</label>
                <div class="col-sm-5">
                    <input class="form-control" id="room" type="text" name="room" value="{{course.room}}" required="required" placeholder="TBD">
                </div>
            </div>

            <!-- Time -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="time">Time</label>
                <div class="col-sm-5">
                    <input class="form-control" id="time" type="time" name="time" value="{{course.time}}" required="required" placeholder="TBD">
                </div>
            </div>

            <!-- PreReqs -->
            <!-- Add: value="course.preReqs" but with squiggly brackets around variable name :after 'name="prereqs"' -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="preReqs">Prerequisites</label>
                <div class="col-sm-5">
                    <input class="form-control" id="preReqs" type="text" name="preReqs"  required="required" placeholder="None">
                </div>
            </div>

            <!-- CoReqs -->
            <!-- Add: value="course.coReqs" but with squiggly brackets around variable name :after 'name="coreqs"' -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="coReqs">Corequisites</label>
                <div class="col-sm-5">
                    <input class="form-control" id="coReqs" type="text" name="coReqs" required="required" placeholder="None">
                </div>
            </div>

            <!-- MinSize -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="minSize">Minimum size</label>
                <div class="col-sm-5">
                    <input class="form-control" id="minSize" type="text" name="minSize" value="{{course.minSize}}" required="required" placeholder="1">
                </div>
            </div>

            <!-- MaxSize -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="maxSize">Maximum size</label>
                <div class="col-sm-5">
                    <input class="form-control" id="maxSize" type="text" name="maxSize" value="{{course.maxSize}}" required="required" placeholder="30">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit"  class="btn btn-primary">Submit</button>
                    <a href="/courses" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{>common/footer}}