{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in the course information</h4>
    <div class="card-block">
        <form action="/courses" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseName">Course Name</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseName" type="text" name="courseName" required="required" placeholder="Calculus">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseNumber">Course Number</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseNumber" type="text" name="courseNumber" required="required" placeholder="MTH-1410">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="courseDept">Department</label>
                <div class="col-sm-5">
                    <input class="form-control" id="courseDept" type="text" name="courseDept" required="required" placeholder="Mathematics">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="creditValue">Credit Value</label>
                <div class="col-sm-5">
                    <select name="creditValue" class="custom-select" id="creditValue">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="level">Level</label>
                <div class="col-sm-5">
                    <select name="level" class="custom-select" id="level">
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit"  class="btn btn-primary">Submit</button>
                    <a href="/courses" class="btn btn-link">Cancel</a>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
</div>

{{>common/footer}}

