{{>common/header}}
<h2>
    Courses
</h2>
<table class="table">
    <thead >
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Credits</th>
        <th>Level</th>
        <th>Building</th>
        <th>Room</th>
        <th>Time</th>
        <th>Min</th>
        <th>Max</th>
    </tr>
    </thead>

    <tbody>
    {{#courses}}
    <tr>
        <th scope="row">{{courseId}}</th>
        <td>{{courseName}}</td>
        <td>{{courseDept}}</td>
        <td>{{creditValue}}</td>
        <td>{{level}}</td>
        <td>{{building}}</td>
        <td>{{room}}</td>
        <td>{{time}}</td>
        <td>{{minSize}}</td>
        <td>{{maxSize}}</td>
        <td><a href="/courses/{{courseId}}">Show</a></td>
        <td><a href="/courses/{{courseId}}/edit">Edit</a></td>
        <td><a href="/courses/{{courseId}}/delete">Delete</a></td>
    </tr>
    {{/courses}}
    </tbody>

</table>
<br>
<a class="btn btn-primary" href="/courses/create">Create</a>

{{>common/footer}}