{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in your section information</h4>
    <div class="card-block">
        <form action="/enroll" method="post">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="section">Section</label>
                <div class="col-sm-5">
                    <select name="section" class="custom-select" id="section" required>
                        {{#section}}
                        <option value="{{id}}">{{course.courseName}} {{sectionNumber}}</option>
                        {{/section}}
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="student">Student</label>
                <div class="col-sm-5">
                    <select name="student" class="custom-select" id="student" required>
                        {{#student}}
                        <option value="{{id}}">{{firstName}} {{lastName}}</option>
                        {{/student}}
                    </select>
                </div>
            </div>

         
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit" class="btn btn-primary">Enroll Student</button>
                    <a href="/enroll" class="btn btn-link">Cancel</a>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
</div>
{{>common/footer}}

