{{>common/header}}
<h2>
    Enroll
</h2>

<table class="table">
    <thead >
    <tr>
        <th>Student name</th>
        <th>Course Name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#enroll}}
    <tr>
        <td>{{student.firstName}} {{student.lastName}}</td>
        <td>{{section.course.courseName}}</td>
        <td><a href="/enroll/{{id}}">Show</a></td>
        <td><a href="/enroll/{{id}}/edit">Edit</a></td>
        <td><a href="/enroll/{{id}}/delete">Delete</a></td>
    </tr>
    {{/enroll}}
    </tbody>
</table>
<br>
<a class="btn btn-primary" href="/enroll/create">Enroll Student</a>
{{>common/footer}}