{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in your semester information</h4>
    <div class="card-block">
        <form action="/semester/{{semester.id}}" method="post">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="semester">Semester</label>
                <div class="col-sm-5">
                    <input class="form-control" id="semester" type="text" name="semester" value="{{semester.getSemester}}" required="required" placeholder="35">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="section">Section</label>
                <div class="col-sm-5">
                    <select name="course" class="custom-select" id="section" required>
                        {{#section}}
                        <option value="{{id}}">{{sectionNumber}}</option>
                        {{/section}}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="startDate">Start Date</label>
                <div class="col-sm-5">
                    <input class="form-control" id="startDate" type="text" name="startDate" required="required" placeholder="August 22">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="endDate">End Date</label>
                <div class="col-sm-5">
                    <input class="form-control" id="endDate" type="text" name="endDate" required="required" placeholder="December 12">
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit"  class="btn btn-primary">Submit</button>
                    <a href="/semesters" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{>common/footer}}

