{{>common/header}}
<div class="card">
    <h3 class="card-header">Semester Information</h3>
    <div class="card-block">
        <p class="card-text">Semester: {{semester.semesterName}}</p>
        <p class="card-text">Course Name: {{semester.section.course.courseName}}</p>
        <p class="card-text">Section Number: {{semester.section.sectionNumber}}</p>
        <p class="card-text">Professor Name: {{semester.professor.firstName}} {{semester.professor.lastName}}</p>
        <p class="card-text">Start Date: {{semester.startDate}}</p>
        <p class="card-text">End Date: {{semester.endDate}}</p>
        <a href="/semester/{{semester.id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/semester" class="btn btn-link">Back</a>
    </div>
</div>
{{>common/footer}}