{{>common/header}}
<div class="jumbotron">
    <!--h1 class="display-3">MSU Banner</h1-->
    <h1 class="display-3">Metropolitan State University of Denver</h1>
    <!--p class="lead">This is a simple student information management portal.</p-->
    <p class="lead">For more than 50 years, MSU Denver has been a pacesetter for transforming lives, the community and higher education..</p>
    <hr class="my-4">
    <p>This banner system uses Java-spring backend utilizing several utility frameworks such as mustache, JSP, Apache derby.</p>
    <!--<p class="lead">-->
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <!--</p>-->
</div>

{{>common/footer}}