<!doctype html>
<html lang="en">
<body>
<h1>Demo</h1>
<div>Hello World hamza </div>
<div>Hello Everyone</div>
<div>ThienNgo was here :))</div>

<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>

    <tr>
        <td>Tarin</td>
        <td>Horne</td>
    </tr>

    <tr>
        <td>Eric</td>
        <td>Kearney</td>
    </tr>

    <tr>
        <td>Christian</td>
        <td>Kendall</td>
    </tr>

    <tr>
        <td>Hamza</td>
        <td>Khokhar</td>
    </tr>

    <tr>
        <td>Matthew</td>
        <td>Kline</td>
    </tr>

    <tr>
        <td>ThienNgo</td>
        <td>Le</td>
    </tr>

    <tr>
        <td>Jesus</td>
        <td>Guzman</td>
    </tr>
</table>


</body>
</html>