{{>common/header}}
<div class="jumbotron">
    <h1 class="display-3">MSU Banner</h1>
    <p class="lead">This is a simple student information management portal.</p>
    <hr class="my-4">
    <p>It uses Java-spring backend utilizing several utility frameworks such as mustache, JSP, Apache derby.</p>
    <!--<p class="lead">-->
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <!--</p>-->
</div>
<!--<h1>Demo</h1>-->
<!--<div>HELLO WORLD!!!</div>-->
<!--<div>Hello World hamza </div>-->
<!--<div>Hello Everyone</div>-->
<!--<div>ThienNgo was here :))</div>-->

<!--<table>-->
    <!--<tr>-->
        <!--<th>Firstname</th>-->
        <!--<th>Lastname</th>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Tarin</td>-->
        <!--<td>Horne</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Eric</td>-->
        <!--<td>Kearney</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Christian</td>-->
        <!--<td>Kendall</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Hamza</td>-->
        <!--<td>Khokhar</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Matthew</td>-->
        <!--<td>Kline</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>ThienNgo</td>-->
        <!--<td>Le</td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Jesus</td>-->
        <!--<td>Guzman</td>-->
    <!--</tr>-->
<!--</table>-->
{{>common/footer}}