{{>common/header}}
<div class="card">
    <h3 class="card-header">Section Information</h3>
    <div class="card-block">
        <h4 class="card-title">Building Number: {{building.id}}</h4>
        <p class="card-text">Building Name: {{building.buildingName}}</p>
        <p class="card-text">Number of Rooms: {{building.numberOfRooms}}</p>
        <a href="/building/{{building.id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/building" class="btn btn-link">Back</a>
    </div>
</div>
{{>common/footer}}
