{{>common/header}}
<h2>
    Building
</h2>

<table class="table">
    <thead >
    <tr>
        <th>ID</th>
        <th>Building Name</th>
        <th>Number of Rooms</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#building}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{buildingName}}</td>
        <td>{{numberOfRooms}}</td>
        <td><a href="/building/{{id}}">Show</a></td>
        <td><a href="/building/{{id}}/edit">Edit</a></td>
        <td><a href="/building/{{id}}/delete">Delete</a></td>
    </tr>
    {{/building}}
    </tbody>
</table>
<br>
<a class="btn btn-primary" href="/building/create">Create</a>
{{>common/footer}}