{{>common/header}}

<h1>Student Info</h1>
<form action="/students/{{student.id}}" method="post">
    <input hidden id="id" type="text" name="id" value="{{student.id}}">
    <div class="field">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" name="firstName" value="{{student.firstName}}" required="required">
    </div>
    <div class="field">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" name="lastName" value="{{student.lastName}}" required="required">
    </div>
    <div class="actions">
        <input type="submit" name="create" value="Update Student" data-disable-with="Update Student">
    </div>
    <a href="/students">Back</a>
</form>

{{>common/footer}}