<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" charset="utf-8" href="base.css"/>-->
</head>
<body>

<section class="">
    <h1>Student Info</h1>
    <form action="/students" method="post">

        <div class="field">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name="firstName" required="required">
        </div>
        <div class="field">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName" required="required">
        </div>
        <div class="actions">
            <input type="submit" name="create" value="Create Section" data-disable-with="Create Section">
        </div>
        <a href="/students">Back</a>
    </form>
</section>

</body>
</html>


