{{>common/header}}
<h2>
    Sections
</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Course</th>
        <th>Professor</th>
        <th>Building</th>
        <th>Room</th>
        <th>Weekday</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#sections}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{course.courseName}}</td>
        <td>{{professor.firstName}} {{professor.lastName}}</td>
        <td>{{building.buildingName}}</td>
        <td>{{roomNumber}}</td>
        <td>{{weekday}}</td>
        <td>{{startTime}}</td>
        <td>{{endTime}}</td>
        <td><a href="/sections/{{id}}">Show</a></td>
        <td><a href="/sections/{{id}}/edit">Edit</a></td>
        <td><a href="/sections/{{id}}/delete">Delete</a></td>
    </tr>
    {{/sections}}
    </tbody>
</table>
<br>
<a class="btn btn-primary" href="/sections/create">Create</a>

{{>common/footer}}