{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in your section information</h4>
    <div class="card-block">
        <form action="/sections" method="post">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="professor">Professor</label>
                <div class="col-sm-5">
                    <select name="professor" class="custom-select" id="professor" required>
                        {{#professors}}
                        <option value="{{id}}">{{firstName}} {{lastName}}</option>
                        {{/professors}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="course">Course</label>
                <div class="col-sm-5">
                    <select name="course" class="custom-select" id="course" required>
                        {{#courses}}
                        <option value="{{courseId}}">{{courseName}}</option>
                        {{/courses}}
                    </select>
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="numberOfSeats">Max Size</label>
                <div class="col-sm-5">
                     <input class="form-control" id="numberOfSeats" type="number" name="numberOfSeats" required="required" placeholder="35">
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="sectionNumber">Section Number</label>
                <div class="col-sm-5">
                    <input class="form-control" id="sectionNumber" type="number" name="sectionNumber" required="required" placeholder="001">
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit"  class="btn btn-primary">Submit</button>
                    <a href="/sections" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{>common/footer}}

