{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in your section information</h4>
    <div class="card-block">
        <form action="/sections" method="post">
           <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="course">Course</label>
                <div class="col-sm-5">
                    <select name="course" class="custom-select" id="course" required>
                        {{#courses}}
                        <option value="{{courseId}}">{{courseName}}</option>
                        {{/courses}}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="sectionNumber">Section Number</label>
                <div class="col-sm-5">
                    <input class="form-control" id="sectionNumber" type="number" name="sectionNumber" required="required" placeholder="001">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="professor">Professor</label>
                <div class="col-sm-5">
                    <select name="professor" class="custom-select" id="professor" required>
                        {{#professors}}
                        <option value="{{id}}">{{firstName}} {{lastName}}</option>
                        {{/professors}}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="building">Building</label>
                <div class="col-sm-5">
                    <select name="building" class="custom-select" id="building" required>
                        {{#building}}
                        <option value="{{id}}">{{buildingName}}</option>
                        {{/building}}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="room">Room</label>
                <div class="col-sm-5">
                    <input class="form-control" id="roomNumber" type="number" name="roomNumber" required="required" placeholder="1010">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="time">Start Time</label>
                <div class="col-sm-5">
                    <select name="time" class="custom-select" id="time">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    
                    <select name="time" class="custom-select" id="time">
                        <option value="00">00</option>
                        <option value="05">05</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                        <option value="55">55</option>
                    </select>
                    
                    <select name="time" class="custom-select" id="time">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                    <a href="/sections" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{>common/footer}}

