{{>common/header}}
<div class="card">
    <h3 class="card-header">Section Information</h3>
    <div class="card-block">
        <h4 class="card-title">Section Id: {{section.id}}</h4>
        <p class="card-text">SectionNumber: {{section.sectionNumber}}</p>
        <p class="card-text">Professor: {{section.professor}}</p>
        <p class="card-text">Course: {{section.course}}</p>
        <a href="/sections/{{section.id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/sections" class="btn btn-link">Back</a>
    </div>
</div>
{{>common/footer}}