{{>common/header}}
<div class="card">
    <h4 class="card-header">Please fill in your section information</h4>
    <div class="card-block">
        <form action="/sections/{{section.id}}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="course">Course</label>
                <div class="col-sm-5">
                    <select name="course" class="custom-select" id="course" required>
                        {{#courses}}
                        <option value="{{courseId}}">{{courseName}}</option>
                        {{/courses}}
                    </select>
                    </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="sectionNumber">Section Number</label>
                <div class="col-sm-5">
                    <input class="form-control" id="sectionNumber" type="number" name="sectionNumber" required="required" value="{{section.sectionNumber}}" placeholder="001">
                </div>

            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="professor">Professor</label>
                <div class="col-sm-5">
                    <select name="professor" class="custom-select" id="professor" required>
                        {{#professors}}
                        <option value="{{id}}">{{firstName}} {{lastName}}</option>
                        {{/professors}}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="building">Building</label>
                <div class="col-sm-5">
                    <select name="building" class="custom-select" id="building" required>
                        {{#building}}
                        <option value="{{id}}">{{buildingName}}</option>
                        {{/building}}
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="room">Room</label>
                <div class="col-sm-5">
                    <input class="form-control" id="roomNumber" type="number" name="roomNumber" required="required" value="{{section.roomNumber}}" placeholder="1010">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="startTime">Start Time</label>
                <div class="col-sm-5">
                    <input class="form-control" id="startTime" type="time" name="time" required="required" value="{{section.startTime}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="endTime">End Time</label>
                <div class="col-sm-5">
                    <input class="form-control" id="endTime" type="time" name="time" required="required" value="{{section.endTime}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right" for="weekday">Meeting Days</label>
                <div class="col-sm-5">
                    <label for="weekday">Sun</label>
                    <input type="checkbox" id="Sunday" class="weekday">
                    <label for="weekday">Mon</label>
                    <input type="checkbox" id="Monday" class="weekday">
                    <label for="weekday">Tue</label>
                    <input type="checkbox" id="Tuesday" class="weekday">
                    <label for="weekday">Wed</label>
                    <input type="checkbox" id="Wednesday" class="weekday">
                    <label for="weekday">Thu</label>
                    <input type="checkbox" id="Thursday" class="weekday">
                    <label for="weekday">Fri</label>
                    <input type="checkbox" id="Friday" class="weekday">
                    <label for="weekday">Sat</label>
                    <input type="checkbox" id="Saturday" class="weekday">
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <button type="submit" name="submit"  class="btn btn-primary">Submit</button>
                    <a href="/sections" class="btn btn-link">Cancel</a>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
</div>
{{>common/footer}}

