{{>common/header}}
<div class="card">
    <h3 class="card-header">Section Information</h3>
    <div class="card-block">
        <p class="card-text">Section ID: {{section.id}}</p>
        <p class="card-text">Course Name: {{section.course.courseName}}</p>
        <p class="card-text">Professor Name: {{section.professor.firstName}} {{section.professor.lastName}}</p>
        <p class="card-text">Start Time: {{section.startTime}}</p>
        <p class="card-text">End Time: {{section.endTime}}</p>
        <p class="card-text">Room: {{section.roomNumber}}</p>
        <p class="card-text">Building: {{section.building.buildingName}}</p>
        <a href="/sections/{{section.id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/sections" class="btn btn-link">Back</a>
    </div>
</div>
{{>common/footer}}